<a href="https://colab.research.google.com/github/CYNLeo/Predict-house-price/blob/main/PredictingHousePrice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv('/content/drive/MyDrive/Data_ams2/Q1_Housingv1.csv')

In [ ]:
features_with_na=[features for features in df.columns if df[features].isnull().sum()>1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean(), 4),  ' % missing values')

MSZoning 0.0027  % missing values
LotFrontage 0.1556  % missing values
Alley 0.9267  % missing values
Utilities 0.0014  % missing values
MasVnrType 0.011  % missing values
MasVnrArea 0.0103  % missing values
BsmtQual 0.0302  % missing values
BsmtCond 0.0308  % missing values
BsmtExposure 0.0302  % missing values
BsmtFinType1 0.0288  % missing values
BsmtFinType2 0.0288  % missing values
BsmtFullBath 0.0014  % missing values
BsmtHalfBath 0.0014  % missing values
Functional 0.0014  % missing values
FireplaceQu 0.5003  % missing values
GarageType 0.0521  % missing values
GarageYrBlt 0.0535  % missing values
GarageFinish 0.0535  % missing values
GarageQual 0.0535  % missing values
GarageCond 0.0535  % missing values
PoolQC 0.9979  % missing values
Fence 0.8012  % missing values
MiscFeature 0.965  % missing values

We can see that 'MiscFeature','Fence','PoolQC','Alley' and 'FireplaceQu' has high precent of missing values, therefore we drop these columns

In [ ]:
df['Utilities'].unique()

array(['AllPub', nan], dtype=object)

We can see that 'Utilities' column only has one value therefore we drop this column

In [ ]:
df.drop(['MiscFeature','Fence','PoolQC','Alley','Utilities','FireplaceQu'],axis = 1,inplace=True) #dropping Utilities because all the value are same

In [ ]:
#chnage to string (Date value or identify the type,etc)
df.dropna(inplace=True)
df['GarageYrBlt'] = df['GarageYrBlt'].astype(int)
df['MSSubClass'] =df['MSSubClass'].astype(str)
df['OverallQual'] =df['OverallQual'].astype(str)
df['OverallCond'] =df['OverallCond'].astype(str)
df['YrSold'] =df['YrSold'].astype(str)
df['YearRemodAdd'] = df['YearRemodAdd'].astype(str)
df['YearBuilt'] = df['YearBuilt'].astype(str)
df['GarageYrBlt'] = df['GarageYrBlt'].astype(str)

The above columns cahnge to string value becasue some of them is belong to categoical columns such as year or date

In [ ]:
from sklearn.preprocessing import LabelEncoder

num_cols = ['LotFrontage', 'LotArea','MoSold',
            'MasVnrArea', 'BsmtFinSF1', 'BsmtFinSF2',
            'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF',
            'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath',
            'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
            'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF','EnclosedPorch',
            '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal']

temp= [
  "MSSubClass",
  "MSZoning",
  "Street",
  "LotShape",
  "LandContour",
  "LotConfig",
  "LandSlope",
  "Neighborhood",
  "Condition1",
  "Condition2",
  "BldgType",
  "HouseStyle",
  "YearBuilt",
  "YearRemodAdd",
  "RoofStyle",
  "RoofMatl",
  "Exterior1st",
  "Exterior2nd",
  "MasVnrType",
  "ExterQual",
  "ExterCond",
  "Foundation",
  "BsmtQual",
  "BsmtCond",
  "BsmtExposure",
  "BsmtFinType1",
  "BsmtFinType2",
  "Heating",
  "HeatingQC",
  "CentralAir",
  "Electrical",
  "KitchenQual",
  "Functional",
  "GarageType",
  "GarageYrBlt",
  "GarageFinish",
  "GarageQual",
  "GarageCond",
  "PavedDrive",
  "YrSold",
  "SaleType",
  "SaleCondition"
]

for c in temp:
  Ibl = LabelEncoder()
  Ibl.fit(list(df[c].values))
  df[c] = Ibl.transform(list(df[c].values))

In [ ]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1461,4,2,80.0,11622,1,3,3,4,0,...,0,0,120,0,0,6,4,8,4,169300
1,1462,4,3,81.0,14267,1,0,3,0,0,...,0,0,0,0,12500,6,4,8,4,187800
2,1463,9,3,74.0,13830,1,0,3,4,0,...,0,0,0,0,0,3,4,8,4,183600
3,1464,9,3,78.0,9978,1,0,3,4,0,...,0,0,0,0,0,6,4,8,4,179300
4,1465,0,3,43.0,5005,1,0,1,4,0,...,0,0,144,0,0,1,4,8,4,150700

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1108 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1108 non-null   int64
 1   MSSubClass     1108 non-null   int64
 2   MSZoning       1108 non-null   int64
 3   LotFrontage    1108 non-null   float64
 4   LotArea        1108 non-null   int64
 5   Street         1108 non-null   int64
 6   LotShape       1108 non-null   int64
 7   LandContour    1108 non-null   int64
 8   LotConfig      1108 non-null   int64
 9   LandSlope      1108 non-null   int64
 10  Neighborhood   1108 non-null   int64
 11  Condition1     1108 non-null   int64
 12  Condition2     1108 non-null   int64
 13  BldgType       1108 non-null   int64
 14  HouseStyle     1108 non-null   int64
 15  OverallQual    1108 non-null   object
 16  OverallCond    1108 non-null   object
 17  YearBuilt      1108 non-null   int64
 18  YearRemodAdd   1108 non-null   int64
 19  RoofStyle      1108 non-null   int64
 20  RoofMatl       1108 non-null   int64
 21  Exterior1st    1108 non-null   int64
 22  Exterior2nd    1108 non-null   int64
 23  MasVnrType     1108 non-null   int64
 24  MasVnrArea     1108 non-null   float64
 25  ExterQual      1108 non-null   int64
 26  ExterCond      1108 non-null   int64
 27  Foundation     1108 non-null   int64
 28  BsmtQual       1108 non-null   int64
 29  BsmtCond       1108 non-null   int64
 30  BsmtExposure   1108 non-null   int64
 31  BsmtFinType1   1108 non-null   int64
 32  BsmtFinSF1     1108 non-null   float64
 33  BsmtFinType2   1108 non-null   int64
 34  BsmtFinSF2     1108 non-null   float64
 35  BsmtUnfSF      1108 non-null   float64
 36  TotalBsmtSF    1108 non-null   float64
 37  Heating        1108 non-null   int64
 38  HeatingQC      1108 non-null   int64
 39  CentralAir     1108 non-null   int64
 40  Electrical     1108 non-null   int64
 41  1stFlrSF       1108 non-null   int64
 42  2ndFlrSF       1108 non-null   int64
 43  LowQualFinSF   1108 non-null   int64
 44  GrLivArea      1108 non-null   int64
 45  BsmtFullBath   1108 non-null   float64
 46  BsmtHalfBath   1108 non-null   float64
 47  FullBath       1108 non-null   int64
 48  HalfBath       1108 non-null   int64
 49  BedroomAbvGr   1108 non-null   int64
 50  KitchenAbvGr   1108 non-null   int64
 51  KitchenQual    1108 non-null   int64
 52  TotRmsAbvGrd   1108 non-null   int64
 53  Functional     1108 non-null   int64
 54  Fireplaces     1108 non-null   int64
 55  GarageType     1108 non-null   int64
 56  GarageYrBlt    1108 non-null   int64
 57  GarageFinish   1108 non-null   int64
 58  GarageCars     1108 non-null   float64
 59  GarageArea     1108 non-null   float64
 60  GarageQual     1108 non-null   int64
 61  GarageCond     1108 non-null   int64
 62  PavedDrive     1108 non-null   int64
 63  WoodDeckSF     1108 non-null   int64
 64  OpenPorchSF    1108 non-null   int64
 65  EnclosedPorch  1108 non-null   int64
 66  3SsnPorch      1108 non-null   int64
 67  ScreenPorch    1108 non-null   int64
 68  PoolArea       1108 non-null   int64
 69  MiscVal        1108 non-null   int64
 70  MoSold         1108 non-null   int64
 71  YrSold         1108 non-null   int64
 72  SaleType       1108 non-null   int64
 73  SaleCondition  1108 non-null   int64
 74  SalePrice      1108 non-null   int64
dtypes: float64(10), int64(63), object(2)
memory usage: 657.9+ KB

In [ ]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
scaler = MinMaxScaler()
std = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
df['SalePrice'] = scaler.fit_transform(df['SalePrice'].values.reshape(-1,1))

In [ ]:
X = df.drop('SalePrice',axis = 1)
y = df['SalePrice']

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)
x_train.drop('Id',axis = 1,inplace = True)
test_id = x_test['Id']
x_test.drop('Id',axis = 1,inplace = True)

In [ ]:
# Importing LinearRegression
from sklearn.linear_model import LinearRegression
#Training Linear regression model
lr = LinearRegression()
lr.fit(x_train, y_train)
LR_y_pred = lr.predict(x_test)
expl_lr = explained_variance_score(LR_y_pred,y_test)
lr_score = lr.score(x_test,y_test)
mae_lr = metrics.mean_absolute_error(y_test,LR_y_pred)
mse_lr =  metrics.mean_squared_error(y_test,LR_y_pred)

In [ ]:
from sklearn import metrics
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import explained_variance_score
from sklearn.metrics import confusion_matrix

In [ ]:
#Training Decision Tree model
tr_regressor = DecisionTreeRegressor(random_state=0)
tr_regressor.fit(x_train,y_train)
tr_regressor.score(x_test,y_test)
pred_tr = tr_regressor.predict(x_test)
decision_score=tr_regressor.score(x_test,y_test)
expl_tr = explained_variance_score(pred_tr,y_test)
mae_tr = metrics.mean_absolute_error(y_test,pred_tr)
mse_tr = metrics.mean_squared_error(y_test,pred_tr)

In [ ]:
#Training Random Forest model
rf_regressor = RandomForestRegressor(n_estimators=28,random_state=0)
rf_regressor.fit(x_train,y_train)
rf_regressor.score(x_test,y_test)
rf_pred =rf_regressor.predict(x_test)
rf_score=rf_regressor.score(x_test,y_test)
expl_rf = explained_variance_score(rf_pred,y_test)
mae_rf = metrics.mean_absolute_error(y_test,rf_pred)
mse_rf = metrics.mean_squared_error(y_test,rf_pred)

In [ ]:
#Training SVM model
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
cls = svm.SVR(kernel='linear')
cls.fit(x_train, y_train)
pred = cls.predict(x_test)
svm_score = cls.score(x_test,y_test)
mae_svm = metrics.mean_absolute_error(y_test,pred)
mse_svm = metrics.mean_squared_error(y_test,pred)
expl_svm = explained_variance_score(pred,y_test)

**Linear Regression**

In [ ]:
print(r2_score(y_test,LR_y_pred))
print('MAE:', metrics.mean_absolute_error(y_test,LR_y_pred))
print('MSE:', metrics.mean_squared_error(y_test,LR_y_pred))
print('RMSE:',np.sqrt(metrics.mean_absolute_error(y_test,LR_y_pred)))

0.9999968337782946
MAE: 0.00017802331159378956
MSE: 4.215607708248189e-08
RMSE: 0.013342537674437707

**Random Forest and Decision Tree**

In [ ]:
print("Decision tree Regression Model Score is",round(tr_regressor.score(x_test,y_test)*100))
print("Random Forest Regression Model Score is",round(rf_regressor.score(x_test,y_test)*100))

Decision tree Regression Model Score is 85
Random Forest Regression Model Score is 90

**SVM**

In [ ]:
print(r2_score(y_test,pred))
print('MAE:', metrics.mean_absolute_error(y_test,pred))
print('MSE:', metrics.mean_squared_error(y_test,pred))
print('RMSE:',np.sqrt(metrics.mean_absolute_error(y_test,pred)))

0.6611887081315857
MAE: 0.04703916017499016
MSE: 0.0045110406867774865
RMSE: 0.2168851312907138

In [ ]:
models_score = pd.DataFrame({'Model': ['Decision Tree','Random forest ', 'SVM', 'Linear Regression'],
'R^2 Score': [decision_score, rf_score, svm_score, lr_score],
'Explained Variance Score': [expl_tr, expl_rf, expl_svm, expl_lr],
'Mean Absolute Error': [mae_tr, mae_rf, mae_svm, mae_lr],
'Mean Squared Error': [mse_tr, mse_rf, mse_svm, mse_lr] })
models_score.sort_values(by='R^2 Score', ascending=False)

,Model,R^2 Score,Explained Variance Score,Mean Absolute Error,Mean Squared Error
3,Linear Regression,0.999997,0.999997,0.000178,4.215608e-08
1,Random forest,0.902344,0.870853,0.012902,1.300219e-03
0,Decision Tree,0.848239,0.823479,0.019587,2.020599e-03
2,SVM,0.661189,0.477933,0.047039,4.511041e-03

**Conclusion**

According to the score with different model,since Linear Regression has a high R2 score which are very close to 100, it suspicious to overfitting. Therefore, I will use the second high model (Random forest) to train the data

In [ ]:
temp = pd.DataFrame({'SalePrice': rf_pred.flatten()})

In [ ]:
temp_price = scaler.inverse_transform(temp)

In [ ]:
temp_price = temp_price.ravel()

In [ ]:
submission = pd.DataFrame({'Id': test_id, 'SalePrice': temp_price})

In [ ]:
submission = submission.reset_index()
submission.drop('index',axis = 1,inplace = True)

In [ ]:
showinfo()

Name : Chong Yee Nam
Student ID: 21073251A
Class : 201B

In [ ]:
submission

       Id      SalePrice
0    2844  179350.000000
1    2757  172346.428571
2    2462  173871.428571
3    2093  162339.285714
4    2052  180196.428571
..    ...            ...
217  2101  187692.857143
218  2741  175510.714286
219  2402  170557.142857
220  2669  186500.000000
221  2367  151839.285714

[222 rows x 2 columns]